@model DisabilityDTO

<form method="post">
    <div class="row">
        <div class="col-sm-6" hidden>
            <div class="form-group">
                <input asp-for="Id" class="form-control">
            </div>
            @if (Model.Id == null)
            {
                <div class="form-group">
                    <input asp-for="CreatedBy" value="@ViewBag.UserId" class="form-control">
                    <input asp-for="CreatedDate" type="datetime" value="@DateTime.Now" class="form-control">
                </div>
            }
            else
            {
                <div class="form-group">
                    <input asp-for="UpdatedBy" value="@ViewBag.UserId" class="form-control">
                    <input asp-for="UpdatedDate" type="datetime" value="@DateTime.Now" class="form-control">
                </div>
            }
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-form-label">@coreResources["Name"] <span class="text-danger">*</span></label>
                <small class="text-muted">(@coreResources["FirstLanguage"])</small>
                <input id="firstLanguage" class="form-control" asp-for="EnName" type="text">
                <span asp-validation-for="EnName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-form-label">@coreResources["ArName"] <span class="text-danger">*</span></label>
                <small class="text-muted">(@coreResources["SecondLanguage"])</small>
                <input id="secondLanguage" class="form-control" asp-for="ArName" type="text">
                <span asp-validation-for="ArName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <form-footer></form-footer>
</form>