@using Microsoft.AspNetCore.Localization
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    string flag = "us";
    string lang = "English";
    switch (System.Globalization.CultureInfo.CurrentCulture.Name)
    {
        case "ar-EG":
            flag = "eg";lang= "Arabic";
            break;
        //case "fr":
        //    flag = "fr";lang= "French";
        //    break;
        //case "gn":
        //    flag = "de";lang= "Dutch";
        //    break;
        default:
            flag = "us";lang= "English";
            break;
    }
}

<a class="nav-link dropdown-toggle has-arrow" data-bs-toggle="dropdown" href="#" role="button">
    <img id="currentLangFlag" src="~/img/flags/@(flag).png" alt="" height="20"> <span id="currentLangTitle">@coreResources[lang]</span>
</a>
<div class="dropdown-menu dropdown-menu-right nav-item dropdown  flag-nav">
    <a asp-area="" asp-controller="Account" asp-action="CultureManagement" asp-route-culture="en-US" asp-route-returnUrl="@returnUrl" class="dropdown-item">
        <img src="~/img/flags/us.png" alt="" height="16"> @coreResources["English"]
    </a>
    <a asp-area="" asp-controller="Account" asp-action="CultureManagement" asp-route-culture="ar-EG" asp-route-returnUrl="@returnUrl" class="dropdown-item">
        <img src="~/img/flags/eg.png" alt="" height="16"> @coreResources["Arabic"]
    </a>
@*    <a asp-area="" asp-controller="Account" asp-action="CultureManagement" asp-route-culture="fr" asp-route-returnUrl="@returnUrl" class="dropdown-item">
        <img src="~/img/flags/fr.png" alt="" height="16"> @coreResources["French"]
    </a>
    <a asp-area="" asp-controller="Account" asp-action="CultureManagement" asp-route-culture="gn" asp-route-returnUrl="@returnUrl" class="dropdown-item">
        <img src="~/img/flags/de.png" alt="" height="16"> @coreResources["Dutch"]
    </a>*@
</div>