@using System.Security.Claims
@using PathFinder.SharedKernel.Constants
@inject IConfiguration Configuration
@inject IHttpContextAccessor Context

@{

    var currentYear = DateTime.Now.Year;
}
<!DOCTYPE html>
<html lang="en-US" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Smarthr - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>PATHFINDER</title>


    <!-- Favicon -->
    <link rel="shortcut icon" id="favicon" type="image/x-icon" href="~/img/pathFinderLogo.png">

    <!-- Bootstrap CSS -->
    @if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "ar-EG")
    {
        <link rel="stylesheet" href="~/css/bootstrap.rtl.min.css">
        <link rel="stylesheet" href="~/css/style-rtl.css">
    }
    else
    {
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/style.css">
    }
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/plugins/fontawesome/css/all.min.css">

    <!-- Lineawesome CSS -->
    <link rel="stylesheet" href="~/css/line-awesome.min.css">
    <link rel="stylesheet" href="~/css/material.css">

    <!-- Chart CSS -->
    <link rel="stylesheet" href="~/plugins/morris/morris.css">

    <!-- Datatable CSS -->
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/css/fixedColumns.dataTables.min.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="~/css/select2.min.css">

    <!-- Summernote CSS -->
    <link rel="stylesheet" href="~/plugins/summernote/dist/summernote-lite.min.css">

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css">

    <!-- Tagsinput CSS -->
    <link rel="stylesheet" href="~/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">

    <!-- Toast CSS -->
    <link rel="stylesheet" href="~/css/jquery.toast.min.css">

    @await RenderSectionAsync("Styles", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <div class="header">

            <!-- Logo -->
            <div class="header-left">
                <a href="admin-dashboard.html" class="logo">
                    <img src="~/img/Pathfinder Logo Transparent.png" width="100px" height="50px" alt="Logo">
                </a>
            </div>
            <!-- /Logo -->

            <a id="toggle_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <!-- Header Title -->
            <div class="page-title-box">
                <h3>PATHFINDER</h3>
            </div>
            <!-- /Header Title -->

            <a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa-solid fa-bars"></i></a>

            <!-- Header Menu -->
            <ul class="nav user-menu">


                <!-- Flag -->
                <li class="nav-item dropdown has-arrow flag-nav">
                    <partial name="_Culture" />
                </li>
                <!-- /Flag -->


                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">

                        <span>Admin</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item " asp-area="" asp-controller="Account" asp-action="ChangePassword"><i class="fa fa-lock m-r-4" aria-hidden="true"></i> @CoreResources.ChangePassword</a>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logout"><i class="fa fa-sign-out m-r-4" aria-hidden="true"></i> @CoreResources.Logout</a>
                    </div>
                </li>
            </ul>
            <!-- /Header Menu -->
            <!-- Mobile Menu -->
            <div class="dropdown mobile-user-menu">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item " asp-area="" asp-controller="Account" asp-action="ChangePassword"><i class="fa fa-lock m-r-4" aria-hidden="true"></i> @CoreResources.ChangePassword</a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logout"><i class="fa fa-sign-out m-r-4" aria-hidden="true"></i> @CoreResources.Logout</a>
                </div>
            </div>
            <!-- /Mobile Menu -->

        </div>

        <!-- Sidebar -->
        <partial name="_Sidebar"></partial>
        <partial name="_LogoutPopup"></partial>

        <partial name="_Toastr" />
        <!-- /Sidebar -->
        <!-- Page Wrapper -->
        <div class="page-wrapper">

            <!-- Page Content -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>

                <!-- Page Footer -->
                <div class="row">
                    <div class="col-md-12">
                        <footer class="border-top footer text-muted">
                            <div class="container">
                                &copy; @currentYear - PATHFINDER - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </div>
                        </footer>
                    </div>
                </div>
                <!-- /Page Footer -->
            </div>
            <!-- /Page Content -->
        </div>
    </div>

    <!-- /Page Wrapper -->
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="~/js/jquery-3.7.1.min.js"></script>

    <!--Jquery Validation-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/js/bootstrap.bundle.min.js"></script>

    <!-- Slimscroll JS -->
    <script src="~/js/jquery.slimscroll.min.js"></script>

    <!-- Summernote JS -->
    <script src="~/plugins/summernote/dist/summernote-lite.js"></script>

    <!-- Select2 JS -->
    <script src="~/js/select2.min.js"></script>

    <!-- repeater JS -->
    <script src="~/js/repeater.js"></script>
    <!-- sweet alert CSS -->
    <script src="~/js/sweetalert2.all.min.js"></script>

    <!-- Datetimepicker JS -->
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/plugins/moment/moment.min.js"></script>

    <!-- Datatable JS -->
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.fixedColumns.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>

    <!-- Chart JS -->
    <script src="~/js/Chart.min.js"></script>
    <script src="~/js/chartjs-plugin-datalabels.min.js"></script>
    <script src="~/js/greedynav.js"></script>

    <script src="~/plugins/morris/morris.min.js"></script>
    <script src="~/plugins/raphael/raphael.min.js"></script>

    <!-- Tagsinput JS -->
    <script src="~/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="~/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>

    <!-- Custom JS -->
    <script src="~/js/app.js"></script>

    <!-- Toast CSS -->
    <script src="~/js/jquery.toast.min.js"></script>

    <!--General js file for some functions-->
    <script src="~/js/Views/Shared/CustomComponents.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/notification.js"></script>

    <!-- Theme Settings JS -->
    <script src="~/js/layout.js"></script>
    <script src="~/js/theme-settings.js"></script>
    <script src="~/js/greedynav.js"></script>

    <!-- Feather Icon JS -->
    <script src="~/js/feather.min.js"></script>

    <!-- Sticky JS -->
    <script>
        $(".header").stick_in_parent({

        });
        // This is for the sticky sidebar
        $(".stickyside").stick_in_parent({
            offset_top: 60
        });
        $('.stickyside a').click(function () {
            $('html, body').animate({
                scrollTop: $($(this).attr('href')).offset().top - 60
            }, 500);
            return false;
        });
        // This is auto select left sidebar
        // Cache selectors
        var lastId,
            topMenu = $(".stickyside"),
            topMenuHeight = topMenu.outerHeight(),
            // All list items
            menuItems = topMenu.find("a"),
            // Anchors corresponding to menu items
            scrollItems = menuItems.map(function () {
                var item = $($(this).attr("href"));
                if (item.length) {
                    return item;
                }
            });

        // Bind click handler to menu items
        // Bind to scroll
        $(window).scroll(function () {
            // Get container scroll position
            var fromTop = $(this).scrollTop() + topMenuHeight - 250;

            // Get id of current scroll item
            var cur = scrollItems.map(function () {
                if ($(this).offset().top < fromTop)
                    return this;
            });
            // Get the id of the current element
            cur = cur[cur.length - 1];
            var id = cur && cur.length ? cur[0].id : "";

            if (lastId !== id) {
                lastId = id;
                // Set/remove active class
                menuItems
                    .removeClass("active")
                    .filter("[href='#" + id + "']").addClass("active");
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>