
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul class="sidebar-vertical">
                <li class="menu-title">
                    <span>@coreResources["Main"]</span>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><i class="la la-dashcube"></i> <span>@CoreResources.Dashboard</span> <span class="menu-arrow"></span></a>
                    <ul >
                    </ul>
                </li>


                <li class="menu-title">
                    <span>@CoreResources.Definitions</span>
                </li>
                <li class="submenu"> 
                <a href="javascript:void(0);"><i class="fa fa-cog"></i> <span>@CoreResources.Definitions</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a asp-area="Definitions" asp-controller="Assessment" asp-action="Index"><span>@coreResources["Assessment"]</span></a></li>
                        <li><a asp-area="Definitions" asp-controller="Certification" asp-action="Index"><span>@coreResources["Certification"]</span></a></li>
                        <li><a asp-area="Definitions" asp-controller="City" asp-action="Index"><span>@coreResources["City"]</span></a></li>
                        <li><a asp-area="Definitions" asp-controller="CompanyCategory" asp-action="Index"><span>@coreResources["CompanyCategory"]</span></a></li>
                        <li><a asp-area="Definitions" asp-controller="CompanySector" asp-action="Index"><span>@coreResources["CompanySector"]</span></a></li>
                        <li><a asp-area="Definitions" asp-controller="CompanyStatus" asp-action="Index"><span>@coreResources["CompanyStatus"]</span></a></li>
                        <li><a asp-area="Definitions" asp-controller="Disability" asp-action="Index"><span>@coreResources["Disability"]</span></a></li>
                        <li><a asp-area="Definitions" asp-controller="EducationLevel" asp-action="Index"><span>@coreResources["EducationLevel"]</span></a></li>
                        <li><a asp-area="Definitions" asp-controller="Partner" asp-action="Index"><span>@coreResources["Partner"]</span></a></li>
                        <li><a asp-area="Definitions" asp-controller="EngagementLevel" asp-action="Index"><span>@coreResources["EngagementLevel"]</span></a></li>
                        <li><a asp-area="Definitions" asp-controller="Governorate" asp-action="Index"><span>@coreResources["Governorate"]</span></a></li>
                        <li><a asp-area="Definitions" asp-controller="Objectives" asp-action="Index"><span>@coreResources["Objectives"]</span></a></li>
                        @* <li><a asp-area="Definitions" asp-controller="Engagement" asp-action="Index"><span>@coreResources["Engagement"]</span></a></li> *@

                        @* <li><a asp-area="Definitions" asp-controller="Employee" asp-action="Index"><span>@coreResources["Employee"]</span></a></li> *@

                        <li><a asp-area="Definitions" asp-controller="Intervention" asp-action="Index"><span>@coreResources["Intervention"]</span></a></li>

                        <li><a asp-area="Definitions" asp-controller="Policy" asp-action="Index"><span>@coreResources["Policy"]</span></a></li>
                        <li><a asp-area="Definitions" asp-controller="Role" asp-action="Index"><span>@coreResources["Role"]</span></a></li>
                        <li><a asp-area="Definitions" asp-controller="UserType" asp-action="Index"><span>@coreResources["UserType"]</span></a></li>
                        @* <li><a asp-area="Definitions" asp-controller=" " asp-action="Index"><span>@coreResources["WorkplaceEnvironment"]</span></a></li> *@

                </ul>

                <li class="menu-title">
                    <span>Data Entry</span>
                </li>
                <li class="submenu">
                    <a ><i class="la la-edit"></i> <span>Coures Detials</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li class="submenu">
                            <a><span>NGO</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li> <a asp-area="DataEntry" asp-controller="BeneficiariesCourseDetails" asp-action="Index"><span>Beneficiaries Course</span></a></li>
                                <li>  <a asp-area="DataEntry" asp-controller="BeneficiariesCourseDetails" asp-action="Index"><span>TOT Course</span></a></li>

                            </ul>
                    </ul>
                </li>
                 <li class="submenu">
                    <a><i class="la la-user"></i> <span>Sectors</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li class="submenu">
                              <li>  <a asp-area="DataEntry" asp-controller="Beneficiaries" asp-action="Index"><span>Beneficiaries / TOT</span></a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a><i class="las la-sync"></i> <span>Coures Transaction</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li class="submenu">
                            <a><span>NGO</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li> <a asp-area="DataEntry" asp-controller="BeneficiariesCourseDetails" asp-action="Index"><span>Beneficiaries Transaction</span></a></li>
                                <li>  <a asp-area="DataEntry" asp-controller="BeneficiariesCourseDetails" asp-action="Index"><span>TOT Transaction</span></a></li>

                            </ul>
                    </ul>
                </li>
                <li class="submenu">
                    <a><i class="la la-users"></i> <span>Partners</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a asp-area="DataEntry" asp-controller="BeneficiariesCourseDetails" asp-action="Index"><span>NGO</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div style="display:flex; justify-content: center; ">
        <a id="toggle_btn" href="javascript:void(0);" style="font-size: 15px; line-height:30px;">
            <i id="toggle-icon" class="las la-angle-left"></i>
        </a>
    </div>

</div>
