@{
    List<BreadCrumb> breadcrumbs = new List<BreadCrumb>()
    {
        new BreadCrumb()
        {
            Name=CoreResources.Definitions
        }
    };
    ViewData["Title"] = @coreResources["Role"];
    bool canAdd = true;//await policyUtils.HasPolicy(User, PolicyConstants.CanAddDefinitionsPolicy);
    bool canUpdate = true;//await policyUtils.HasPolicy(User, PolicyConstants.CanUpdateDefinitionsPolicy);
    bool canDelete = true;//await policyUtils.HasPolicy(User, PolicyConstants.CanDeleteDefinitionsPolicy);
}

<div id="alert"></div>

<!-- Page Content -->
<custom-table title='@coreResources["Role"]'
              is-addable=@canAdd
              bread-crumbs="@breadcrumbs"
              add-url="Definitions/Role/Add"
              bread-crumbs-title="@CoreResources.Role">
</custom-table>

<!-- Update Modal -->
<custom-modal id="update-modal" action-url="Role/Update" title='@coreResources["Update"]'>
</custom-modal>

<!-- Add Modal -->
<custom-modal id="add-modal" action-url="Role/Add" title='@coreResources["Add"]'>
</custom-modal>

<!-- Delete Modal -->
<form-modal id="delete-modal"
            action-name="@coreResources["Delete"]"
            title='@CoreResources.Role'
            message='@coreResources["DeleteMessage"]'
            button-name='@coreResources["Delete"]'>
</form-modal>

@section Scripts {
    <script>
        $(document).ready(function () {
            let actionsList = [];
            if ('@canUpdate.ToString()' == 'True')
                actionsList.push({ title: '@CoreResources.Update', modalId: "update-modal", type: "ajax-modal", icon: 'fa-pencil', actionName: "Update", ownerColumnName: 'EnName' });

            if ('@canDelete.ToString()' == 'True')
                actionsList.push({ title: '@CoreResources.Delete', modalId: "delete-modal", type: "form-modal", icon: 'fa-trash-o', actionName: "Delete", ownerColumnName: 'EnName' });

            let table = DrawDataTable({
                baseUrl: 'Definitions/Role',
                columnsName: ['id', '@coreResources["FirstLanguage"]', '@coreResources["SecondLanguage"]', '@coreResources["CreatedBy"]', '@coreResources["CreationDate"]', '@coreResources["ModifiedBy"]', '@coreResources["ModificationDate"]'],
                columnsPropertyNames: ['id', 'enName', 'arName', 'createdBy', 'createdDate', 'updatedBy', 'updatedDate'],
                actions: actionsList,
                specialDesignColumns: [{ columnIndex: 4, design: 'date-time' },
                { columnIndex: 6, design: 'date-time' }],
                fixedColumns: { left: 2 }
            });
        });
    </script>
}