@model CityDTO 


<form method="post">
    <div class="row">
        <div class="col-sm-6" hidden>
            <div class="form-group">
                <input asp-for="Id" class="form-control">
            </div>
            @if (Model.Id == null)
            {
                <div class="form-group">
                    <input asp-for="CreatedBy" value="@ViewBag.UserId" class="form-control">
                    <input asp-for="CreatedDate" type="datetime" value="@DateTime.Now" class="form-control">
                </div>
            }
            else
            {
                <div class="form-group">
                    <input asp-for="UpdatedBy" value="@ViewBag.UserId" class="form-control">
                    <input asp-for="UpdatedDate" type="datetime" value="@DateTime.Now" class="form-control">
                </div>
            }

        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-form-label">@coreResources["Name"] <span class="text-danger">*</span></label>
                <small class="text-muted">(@coreResources["FirstLanguage"])</small>
                <input id="firstLanguage" class="form-control" asp-for="EnName" type="text">
                <span asp-validation-for="EnName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-form-label">@coreResources["ArName"] <span class="text-danger">*</span></label>
                <small class="text-muted">(@coreResources["SecondLanguage"])</small>
                <input id="secondLanguage" class="form-control" asp-for="ArName" type="text">
                <span asp-validation-for="ArName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="GovernorateId" class="col-form-label"></label><span class="text-danger">*</span>
                <select class="select2 form-control" asp-for="GovernorateId">
                    <option value="">@CoreResources.PleaseSelect</option>
                    @if (ViewBag.Governorate != null)
                    {
                        @foreach (var city in ViewBag.Governorate)
                        {
                            string itemName = Thread.CurrentThread.CurrentCulture.Name == "ar-EG" ? city.ArName : city.EnName;
                            <option value="@city.Id">@itemName</option>
                        }
                    }
                </select>
                <span asp-validation-for="GovernorateId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <form-footer></form-footer>
</form>