@using PathFinder.DataTransferObjects.DTOs.Identity.Request
@model ForgotPasswordDTO
@{
    Layout = "_LayoutAccount";
}
<div class="main-wrapper">
    <div class="account-content">
        <div class="account-box">
            <div class="account-form">
                <h3 class="account-title">@CoreResources.PartnerType</h3>

                <div class="row g-3 d-flex justify-content-center">
                    <div id="MainUserTypes" style="display:contents">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10 col-10">
                            <a asp-area="User" asp-controller="Company" asp-action="CompanyRegister" asp-route-registerType="@UserType.CommunityLevel" class="btnFetch">
                                <div class="counter-single text-center d-flex flex-row hover-border1 wow animate fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                    <div class="coundown d-flex flex-column">

                                        <div class="counter-icon"> <img alt="image" src="~/img/comunitylevel.png"> </div>
                                        <p>@CoreResources.CommunityLevel</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10 col-10">
                            <a asp-area="User" asp-controller="Farmer" asp-action="FarmerRegister" asp-route-registerType="@UserType.PS" class="btnFetch">
                                <div class="counter-single text-center d-flex flex-row hover-border1 wow animate fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                    <div class="coundown d-flex flex-column">

                                        <div class="counter-icon"> <img alt="image" src="~/img/PS.png"> </div>
                                        <p>@CoreResources.PrivateSector</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10 col-10">
                            <a asp-area="User" asp-controller="Farmer" asp-action="FarmerRegister" asp-route-registerType="@UserType.Geleh" class="btnFetch">
                                <div class="counter-single text-center d-flex flex-row hover-border1 wow animate fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                    <div class="coundown d-flex flex-column">

                                        <div class="counter-icon"> <img alt="image" src="~/img/Geleh.png"> </div>
                                        <p>@CoreResources.Geleh</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10 col-10">
                            <a onclick="OpenSubUserTypes(); return false;" asp-route-registerType="@UserType.NGO" class="btnFetch">
                            <div class="counter-single text-center d-flex flex-row hover-border1 wow animate fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                <div class="coundown d-flex flex-column">
                                    <div class="counter-icon"> <img alt="image" src="~/img/ngo.png"> </div>
                                    <p>@CoreResources.NGO</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    </div>
                    <div id="SubUserTypes" style="display:none">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10 col-10">
                            <a asp-area="User" asp-controller="Farmer" asp-action="FarmerRegister" asp-route-registerType="@UserType.TOT" class="btnFetch">
                                <div class="counter-single text-center d-flex flex-row hover-border1 wow animate fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                    <div class="coundown d-flex flex-column">

                                        <div class="counter-icon"> <img alt="image" src="~/img/TOT.png"> </div>
                                        <p>@CoreResources.TOT</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10 col-10">
                            <a asp-area="User" asp-controller="Farmer" asp-action="FarmerRegister" asp-route-registerType="@UserType.Beneficiaries" class="btnFetch">
                                <div class="counter-single text-center d-flex flex-row hover-border1 wow animate fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                    <div class="coundown d-flex flex-column">

                                        <div class="counter-icon"> <img alt="image" src="~/img/Beneficiaries.png"> </div>
                                        <p>@CoreResources.Beneficiaries</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function OpenSubUserTypes() {
            $("#MainUserTypes").css("display", "none");
            $("#SubUserTypes").css("display", "contents");
        }
    </script>
}